<div class="back">
    <div class=" rounded bg-white d-flex justify-content-center wrapper ">
            <div class="row w-100">
                <div class="col-md-12 p-0">
                    <div class="d-flex flex-row justify-content-between p-3 border-bottom">
                        <div class="h2">Мої Команди</div>
                        <div class="h2"><div>Фільтр</div></div>
                    </div>
                </div>
              <div class="row mt-3 teams d-flex">
                    <app-my-team-card></app-my-team-card>
              </div>
      </div>
  </div>
