<div class="registration">
    <div class="registration__logo">
        <img class="registration__logo-img" src="../../../assets/img/drone.png" alt="">
    </div>
    <img class="registration__bg-img" src="../../../assets/background/bg_6.png" alt="image" class="registration__bg">
    <div class="registration__form">
       <h1 class="registration__title">Реєстрація</h1>

       <div class="registration__inputs">
            <div class="registration__box">
                <input type="email" placeholder="Пошта" required class="registration__input">
                <mat-icon fontIcon="email"></mat-icon>
            </div>

            <div class="registration__box">
                <input type="string" placeholder="Телефон" required class="registration__input">
                <mat-icon fontIcon="phone"></mat-icon>
            </div>

            <div class="registration__box">
                <input type="string" placeholder="Ім'я" required class="registration__input">
                <mat-icon fontIcon="badge"></mat-icon>
            </div>

            <div class="registration__box">
                <input type="password" placeholder="Пароль" required class="registration__input">
                <mat-icon fontIcon="lock"></mat-icon>
            </div>

            <div class="registration__box">
                <input type="password" placeholder="Підтвердження Паролю" required class="registration__input">
                <mat-icon fontIcon="lock"></mat-icon>
            </div>
       </div>

       <button type="submit" class="registration__button">Зареєструватися</button>

       <div class="registration__register">
            Маєш аккаунт? <a href="#">Увійти</a>
       </div>
    </div>
</div>

