<div class="bg-white d-flex justify-content-center wrapper">
    <div class="row">
        <div class="col-md-3 border-right avatar">
            <app-avatar></app-avatar>
        </div>
        <div class="col-md-4 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Команда</h4>
                </div>
                <div class="col-md-12"><label class="labels">Назва</label><input type="text" class="form-control" placeholder="Вільні" value=""></div>
                <div class="col-md-12"><label class="labels">Отримувач</label><input type="text" class="form-control" value="" placeholder="3 ОШБ"></div>
                <div class="col-md-12"><label class="labels">Опис</label><textarea class="form-control" fixed rows="4" placeholder="Так то так, треба швидко забацати"></textarea></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Дрон</h4>
                </div>
                <div class="row">
                    <div class="col-md-6"><label class="labels">Рама</label><input type="text" class="form-control" placeholder="Рама" value=""></div>
                    <div class="col-md-6"><label class="labels">Камера</label><input type="text" class="form-control" value="" placeholder="Камера"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><label class="labels">Стек</label><input type="text" class="form-control" placeholder="Стек" value=""></div>
                    <div class="col-md-6"><label class="labels">Мотори</label><input type="text" class="form-control" value="" placeholder="Мотори"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><label class="labels">Пропелери</label><input type="text" class="form-control" placeholder="Пропелери" value=""></div>
                    <div class="col-md-6"><label class="labels">Антени</label><input type="text" class="form-control" value="" placeholder="Антени"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><label class="labels">Відеопередавач</label><input type="text" class="form-control" placeholder="Відеопередавач" value=""></div>
                    <div class="col-md-6"><label class="labels">Акуммулятор</label><input type="text" class="form-control" value="" placeholder="Акуммулятор"></div>
                </div>
            </div>
        </div>
        <div class="mt-5 text-center">
            <button class="btn btn-primary create-button" type="button">Створити</button>
        </div>
    </div>
</div>
