<div class="login">
    <div class="login__logo">
        <img class="login__logo-img" src="../../../assets/img/drone.png" alt="">
    </div>
    <img class="login__bg-img" src="../../../assets/background/bg_6.png" alt="image" class="login__bg">
    <div class="login__form">
       <h1 class="login__title">Авторизація</h1>

       <div class="login__inputs">
          <div class="login__box">
             <input type="email" placeholder="Пошта" required class="login__input">
             <mat-icon fontIcon="email"></mat-icon>
          </div>

          <div class="login__box">
             <input type="password" placeholder="Пароль" required class="login__input">
             <mat-icon fontIcon="lock"></mat-icon>
          </div>
       </div>

       <div class="login__check">
          <div class="login__check-box">
             <input type="checkbox" class="login__check-input" id="user-check">
             <label for="user-check" class="login__check-label">Запам'ятати мене?</label>
          </div>

          <a href="#" class="login__forgot">Забув пароль?</a>
       </div>

       <button type="submit" class="login__button">Увійти</button>

       <div class="login__register">
          Не маєш аккаунта? <a href="#">Зареєструватися</a>
       </div>
    </div>
</div>
