.back {
    padding-top: 3rem;
    padding-right: 0.8rem;
}

.wrapper {
    margin-left: 5rem;
    border: gray 1px solid;
    padding-bottom: 3rem;
}

.tracker {
    border-bottom: 1px solid black;
}
