<div class="wrapper d-flex flex-column align-items-center">
    <div class="title h2">Оберіть роль</div>
    <div class="roles d-flex flex-row justify-content-between w-100">
        <img class="avatar" src="../../../../../assets/img/manager.png" (click)="onClick($event)" id="manager">
        <img class="avatar" src="../../../../../assets/img/worker.png" (click)="onClick($event)" id="worker">
        <img class="avatar" src="../../../../../assets/img/electric.png" (click)="onClick($event)" id="electric">
        <img class="avatar" src="../../../../../assets/img/programmer.png" (click)="onClick($event)" id="programmer">
        <img class="avatar" src="../../../../../assets/img/tester.png" (click)="onClick($event)" id="tester">
    </div>
</div>
