<div class="row d-flex justify-content-center wrapper">
    <div class="col-12 d-flex flex-row justify-content-evenly">
        <div class="icon w-20">
            <img src="../../../../../../../assets/img/manager.png" alt="">
        </div>
        <div class="icon w-20">
            <img src="../../../../../../../assets/img/worker.png" alt="">
        </div>
        <div class="icon w-20">
            <img src="../../../../../../../assets/img/electric.png" alt="">
        </div>
        <div class="icon w-20">
            <img src="../../../../../../../assets/img/programmer.png" alt="">
        </div>
        <div class="icon w-20">
            <img src="../../../../../../../assets/img/tester.png" alt="">
        </div>
    </div>
</div>