<div class="otp">
    <img class="otp__bg-img" src="../../../assets/background/bg_6.png" alt="image" class="otp__bg">
    <div class="otp__form">
       <h1 class="otp__title">Верифікація</h1>

       <div class="otp__inputs">
          <div class="otp__text">
            Перевірте код у поштовій скринці
          </div>

          <div class="otp__box">
             <input type="number" maxlength="6" placeholder="Код" required class="otp__input">
             <mat-icon fontIcon="key"></mat-icon>
          </div>
       </div>

       <div class="otp__resend">
         Код не надходить?<a href="#">Надіслати знову</a>
      </div>


       <button type="submit" class="otp__button">Підтвердити</button>
    </div>
</div>
