.status {
    border: 1px solid #1f3388;
    color: #1f3388;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 20px;
}

.wrapper {
    cursor: pointer;
}

.dates{
    margin-right: .5rem;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    padding-left: -.5rem;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.team-logo {
    margin: 0;
    width: 3.5rem;
    height: 3.5rem;
    background-color: black;
    border: 2px solid navy;
    border-radius: 50%;
}

.date {
    padding-top: 0.7rem;
}
