<div class="wrapper col-md-4 card p-2">
    <div class="d-flex flex-row justify-content-between mt-1">
        <img class="team-logo" src="../../../../../assets/img/team.png" alt="">
        <button class="btn detail-button" type="button" (click)="openTeamDetails($event)">Докладно</button>
    </div>
    <div class="title h3">Назва</div>
    <div class="desc h6">Опис команди</div>
    <div class="d-flex flex-row justify-content-between mt-4">
        <div class="icons d-flex flex-row p-1 justify-content-between">
            <img class="avatar" src="../../../../../assets/img/manager.png" alt="">
            <img class="avatar" src="../../../../../assets/img/worker.png" alt="">
            <img class="avatar" src="../../../../../assets/img/electric.png" alt="">
            <img class="avatar" src="../../../../../assets/img/programmer.png" alt="">
            <img class="avatar" src="../../../../../assets/img/tester.png" alt="">
        </div>
        <div class="date h6">13.05.2024</div>
    </div>
</div>
